<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
	  <Parameter Key="{TenantId}" Description="The identifying parameter which indicates who can sign into the app; found in Azure web portal URL" Name="Tenant Id" Required="True" />
	  <Parameter Key="{Resource}" Description="The Azure Resource you require access to; i.e. Microsoft.Azure.ActiveDirectory" Name="Resource" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://login.microsoftonline.com/common/oauth2/authorize?client_id={ApiKey}&amp;response_type=code&amp;redirect_uri={RedirectUri}&amp;response_mode=query&amp;resource={Resource}</AuthorizationRequestUrl>
	  <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://login.microsoftonline.com/common/oauth2/token/</AccessTokenRequestUrl>	<AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}&amp;resource={Resource}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/token</RefreshTokenRequestUrl>    
	  <RefreshTokenRequestBody>grant_type=refresh_token&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;refresh_token={RefreshToken}</RefreshTokenRequestBody>
	  <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
      <RefreshTokenHeaders>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
  <EndPoints>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="" Name="User Profile" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v2.2/user">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces>
        <Namespace Prefix="x" Uri="http://blah.com" />
      </XmlNamespaces>
      <PostBody>{userid}</PostBody>
      <Parameters>
        <!-- these can be used to prompt the user for values in the url or the postbody -->

        <Parameter Name="User ID" Key="{userid}" Description="Facebook User ID" />
      </Parameters>
      <Headers>
        <Header Name="Name" Value="Value" />
      </Headers>
      <AuthenticationResults>
        <Result Name="Name" Value="Value" />
      </AuthenticationResults>
      <OutputColumns>
        <OutputColumn Name="FirstName" TokenPath="first_name" DataType="130" Length="255" />
        <OutputColumn Name="LastName" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="Link" TokenPath="link" DataType="130" Length="2000" />
        <OutputColumn Name="Timezone" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />
      </OutputColumns>
    </EndPoint>

  </EndPoints>
</Configuration>
