<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="App ID" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="App Secret" Required="True" />
	  <Parameter Key="{RedirectUri}" Description="The Redirect Uri defined in your developer console for the key." Name="Redirect Uri" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://www.facebook.com/v2.8/dialog/oauth?client_id={ApiKey}&amp;redirect_uri={RedirectUri}</AuthorizationRequestUrl>
	  <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://graph.facebook.com/v2.8/oauth/access_token?client_id={ApiKey}&amp;redirect_uri={RedirectUri}&amp;client_secret={ApiSecret}&amp;code={GrantCode}</AccessTokenRequestUrl>
      <AccessTokenRequestBody></AccessTokenRequestBody>
      <AccessTokenRequestMethod>Get</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken>expires_in</AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode>seconds</AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/token</RefreshTokenRequestUrl>    
	  <RefreshTokenRequestBody>grant_type=refresh_token&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;refresh_token={RefreshToken}</RefreshTokenRequestBody>
	  <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
      <RefreshTokenHeaders>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
  <EndPoints>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="" Name="User Profile" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v2.2/user">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces>
        <Namespace Prefix="x" Uri="http://blah.com" />
      </XmlNamespaces>
      <PostBody>{userid}</PostBody>
      <Parameters>
        <!-- these can be used to prompt the user for values in the url or the postbody -->

        <Parameter Name="User ID" Key="{userid}" Description="Facebook User ID" />
      </Parameters>
      <Headers>
        <Header Name="Name" Value="Value" />
      </Headers>
      <AuthenticationResults>
        <Result Name="Name" Value="Value" />
      </AuthenticationResults>
      <OutputColumns>
        <OutputColumn Name="FirstName" TokenPath="first_name" DataType="130" Length="255" />
        <OutputColumn Name="LastName" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="Link" TokenPath="link" DataType="130" Length="2000" />
        <OutputColumn Name="Timezone" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />
      </OutputColumns>
    </EndPoint>

  </EndPoints>
</Configuration>