<Configuration>
  <EndPoints>
	<EndPoint Url="https://graph.facebook.com/{user-id}" RootJsonPath="" Name="User Profile" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v3.3/user">
		<Parameters>
			<Parameter Name="user-id" Description="The ID of the user to retrieve. Use 'me' to retrieve the profile of the logged in user." />
		</Parameters>
		<OutputColumns>
			<OutputColumn Name="Name" TokenPath="name" DataType="130" Length="255" />
			<OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />					
		</OutputColumns>
	</EndPoint>
	
	<EndPoint Url="https://graph.facebook.com/{user-id}/accounts" RootJsonPath="data" Name="User Accounts" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/user/accounts/">
		<Parameters>
			<Parameter Name="user-id" Description="The ID of the user to retrieve. Use 'me' to retrieve the profile of the logged in user." />
		</Parameters>
		<OutputColumns>
			<OutputColumn Name="AccessToken" TokenPath="access_token" DataType="130" Length="255" />
			<OutputColumn Name="Category" TokenPath="category" DataType="130" Length="255" />
			<OutputColumn Name="Name" TokenPath="name" DataType="130" Length="2000" />
			<OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />					
		</OutputColumns>
	</EndPoint>
	
	<EndPoint Url="https://graph.facebook.com/{user-id}/albums" RootJsonPath="data" Name="User Albums" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v3.3/user/albums">
		<Parameters>
			<Parameter Name="user-id" Description="The ID of the user to retrieve. Use 'me' to retrieve the profile of the logged in user." />
		</Parameters>
		<OutputColumns>
			<OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />					
			<OutputColumn Name="Name" TokenPath="name" DataType="130" Length="255" />				
			<OutputColumn Name="CreatedTime" TokenPath="created_time" DataType="135" />					
		</OutputColumns>
	</EndPoint>

	<EndPoint Url="https://graph.facebook.com/{user-id}/groups" RootJsonPath="data" Name="User Groups" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v3.3/user/groups">
		<Parameters>
			<Parameter Name="user-id" Description="The ID of the user to retrieve. Use 'me' to retrieve the profile of the logged in user." />
		</Parameters>
		<OutputColumns>
			<OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />					
			<OutputColumn Name="Name" TokenPath="name" DataType="130" Length="255" />
			<OutputColumn Name="IsAdministrator" TokenPath="administrator" DataType="11" />
			<OutputColumn Name="UnreadCount" TokenPath="unread" DataType="3" />					
			<OutputColumn Name="BookmarkOrder" TokenPath="bookmark_order" DataType="3" />					
		</OutputColumns>
	</EndPoint>
	

	

	

	
	
	<EndPoint Url="https://graph.facebook.com/{user-id}/home" RootJsonPath="data" Name="User News Feed" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v3.3/user/home">
		<Parameters>
			<Parameter Name="user-id" Description="The ID of the user to retrieve. Use 'me' to retrieve the profile of the logged in user." />
		</Parameters>
		<OutputColumns>
			<OutputColumn Name="ID" TokenPath="id" DataType="130" Length="40" />					
			<OutputColumn Name="Name" TokenPath="name" DataType="130" Length="255" />
			<OutputColumn Name="Message" TokenPath="message" DataType="130" Length="4000" />
			<OutputColumn Name="Picture" TokenPath="picture" DataType="130" Length="1000" />
			<OutputColumn Name="Link" TokenPath="link" DataType="130" Length="2000" />
			<OutputColumn Name="Caption" TokenPath="caption" DataType="130" Length="255" />
			<OutputColumn Name="Url" TokenPath="url" DataType="130" Length="2000" />
			<OutputColumn Name="Description" TokenPath="description" DataType="130" Length="2000" />
			<OutputColumn Name="Likes" TokenPath="likes" DataType="303" />					
			<OutputColumn Name="Comments" TokenPath="comments" DataType="303" />					
			<OutputColumn Name="CreatedTime" TokenPath="created_time" DataType="135" />					
			<OutputColumn Name="UpdatedTime" TokenPath="updated_time" DataType="135" />								
		</OutputColumns>
	</EndPoint>
  </EndPoints>
</Configuration>