<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{RedirectUri}" Description="The Redirect Uri defined in your developer console for the key." Name="Redirect Uri" Required="True" />
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
	  <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
	  <Parameter Key="{AuthHeader}" Description="Base64 encoded string of your application's client id and secret concatenated with a colon" Name="Authorization Header" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://www.fitbit.com/oauth2/authorize?response_type=code&amp;client_id={ApiKey}&amp;redirect_uri=http://localhost:55568/&amp;scope=activity%20nutrition%20heartrate%20location%20profile%20weight%20social</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://api.fitbit.com/oauth2/token</AccessTokenRequestUrl>
      <AccessTokenRequestBody>client_id={ApiKey}&amp;grant_type=authorization_code&amp;redirect_uri={RedirectUri}&amp;code={GrantCode}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl></RefreshTokenRequestUrl>
      <RefreshTokenRequestBody></RefreshTokenRequestBody>
      <RefreshTokenJsonPath></RefreshTokenJsonPath>
      <RefreshTokenHeaders>
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Authorization" Value="Basic {AuthHeader}" />
		<Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
</Configuration>
