<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
    </Parameters>
    <Scopes>
      <Scope Name="Read Only" Value="https://www.googleapis.com/auth/analytics.readonly" />
      <Scope Name="View and Manage Google Analytics Data" Value="https://www.googleapis.com/auth/analytics" />
    </Scopes>
    <UseCodeChallenge>True</UseCodeChallenge>
    <CodeChallengeMethod>S256</CodeChallengeMethod>
    <AuthorizationRequestUrl>https://accounts.google.com/o/oauth2/auth</AuthorizationRequestUrl>
    <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
    <AuthorizationRequestBody></AuthorizationRequestBody>
    <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
    <AccessTokenRequestUrl>https://www.googleapis.com/oauth2/v3/token</AccessTokenRequestUrl>
    <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri=http://localhost:55568/</AccessTokenRequestBody>
    <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
    <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
    <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
    <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
    <IsBearerToken>true</IsBearerToken>
    <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
    <RefreshTokenRequestUrl>https://www.googleapis.com/oauth2/v3/token</RefreshTokenRequestUrl>
    <RefreshTokenRequestBody>grant_type=refresh_token&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;refresh_token={RefreshToken}</RefreshTokenRequestBody>
    <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
    <RefreshTokenHeaders>
      <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      <Header Name="ContentKey" Value="{ApiKey}" />
    </RefreshTokenHeaders>
    <Headers>
      <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
    </Headers>
    <ConnectionManagerHeaders>
      <Header Name="Content-Type" Value="application/json" />
    </ConnectionManagerHeaders>
  </OAuth2ConnectionManager>
  <EndPoints>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="reports[0].data.rows[*]" Name="Users By Country" ApiUrl="https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody>{
"reportRequests":
[
{
"viewId" : "{ViewId}" ,
"dateRanges" : [{"startDate": "{StartDate}", "endDate" : "{EndDate}" }] ,
"metrics" : [{"expression" : "ga:users"}] ,
"dimensions" : [{"name" : "ga:country"}]
}
]
}
</PostBody>
      <Parameters>
        <Parameter Name="View Id" Key="{ViewId}" Description="The view id from your Google Analytics account" />
        <Parameter Name="Start Date" Key="{StartDate}" Description="The start date in YYYY-MM-dd format (e.g. 2016-01-01)" />
        <Parameter Name="End Date" Key="{EndDate}" Description="The end date in YYYY-MM-dd format (e.g. 2016-12-31)" />
      </Parameters>
      <Headers />
      <AuthenticationResults />
      <OutputColumns>
        <OutputColumn Name="Country" TokenPath="dimensions[0]" DataType="130" Length="255" />
        <OutputColumn Name="NumberOfUsers" TokenPath="metrics[0].values[0]" DataType="130" Length="255" />
      </OutputColumns>
    </EndPoint>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="reports[0].data.rows[*]" Name="Sessions By Country" ApiUrl="https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody>{
"reportRequests":
[
{
"viewId" : "{ViewId}" ,
"dateRanges" : [{"startDate": "{StartDate}", "endDate" : "{EndDate}" }] ,
"metrics" : [{"expression" : "ga:sessions"}] ,
"dimensions" : [{"name" : "ga:country"}]
}
]
}
</PostBody>
      <Parameters>
        <Parameter Name="View Id" Key="{ViewId}" Description="The view id from your Google Analytics account" />
        <Parameter Name="Start Date" Key="{StartDate}" Description="The start date in YYYY-MM-dd format (e.g. 2016-01-01)" />
        <Parameter Name="End Date" Key="{EndDate}" Description="The end date in YYYY-MM-dd format (e.g. 2016-12-31)" />
      </Parameters>
      <Headers />
      <AuthenticationResults />
      <OutputColumns>
        <OutputColumn Name="Country" TokenPath="dimensions[0]" DataType="130" Length="255" />
        <OutputColumn Name="NumberOfSessions" TokenPath="metrics[0].values[0]" DataType="130" Length="255" />
      </OutputColumns>
    </EndPoint>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="reports[0].data.rows[*]" Name="Traffic Sources" ApiUrl="https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody>{
"reportRequests":
[
{
"viewId" : "{ViewId}" ,
"dateRanges" : [{"startDate": "{StartDate}", "endDate" : "{EndDate}" }] ,
"metrics" : [{"expression" : "ga:organicSearches"}] ,
"dimensions" : [{"name" : "ga:source"}]
}
]
}
</PostBody>
      <Parameters>
        <Parameter Name="View Id" Key="{ViewId}" Description="The view id from your Google Analytics account" />
        <Parameter Name="Start Date" Key="{StartDate}" Description="The start date in YYYY-MM-dd format (e.g. 2016-01-01)" />
        <Parameter Name="End Date" Key="{EndDate}" Description="The end date in YYYY-MM-dd format (e.g. 2016-12-31)" />
      </Parameters>
      <Headers />
      <AuthenticationResults />
      <OutputColumns>
        <OutputColumn Name="Source" TokenPath="dimensions[0]" DataType="130" Length="255" />
        <OutputColumn Name="NumberOfHits" TokenPath="metrics[0].values[0]" DataType="130" Length="255" />
      </OutputColumns>
    </EndPoint>
  </EndPoints>
</Configuration>
