<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://app.hubspot.com/oauth/authorize?client_id={ApiKey}&amp;scopes=contacts%20automation&amp;redirect_uri=http://localhost:55568/</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://api.hubapi.com/oauth/v1/token</AccessTokenRequestUrl>
      <AccessTokenRequestBody>grant_type=authorization_code&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri=http://localhost:55568/&amp;code={GrantCode}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl>https://api.hubapi.com/oauth/v1/token</RefreshTokenRequestUrl>
      <RefreshTokenRequestBody>grant_type=refresh_token&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri=http://localhost:55568/&amp;refresh_token={RefreshToken}</RefreshTokenRequestBody>
      <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
      <RefreshTokenHeaders>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
</Configuration>
