<Configuration>
	<OAuth2ConnectionManager>
  	<Parameters>
			<Parameter Name="Jive Base Url" Description="Jive Base URL" Key="{JiveUrl}" Required="True" />		
			<Parameter Name="Client Id" Description="Client ID" Key="{ApiKey}" Required="True" />
			<Parameter Name="Client Secret" Description="Client Secret" Key="{ApiSecret}" Required="True" />			
		</Parameters>
		  <AccessTokenRequestUrl>https://{JiveUrl}/analytics/v1/auth/login</AccessTokenRequestUrl>
		  <AccessTokenValidationUrl></AccessTokenValidationUrl>
		  <AccessTokenRequestUrlQueryParameters>clientId={ApiKey}&amp;clientSecret={ApiSecret}</AccessTokenRequestUrlQueryParameters>
		  <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
		  <AccessTokenJsonToken></AccessTokenJsonToken>
		  <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
		  <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
		  <IsBearerToken>false</IsBearerToken>
		  <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
		  <RefreshTokenRequestUrl>https://{JiveUrl}/analytics/v1/auth/login</RefreshTokenRequestUrl>
		  <RefreshTokenRequestUrlQueryParameters>client_id={ApiKey}&amp;client_secret={ApiSecret}</RefreshTokenRequestUrlQueryParameters>
		  <RefreshTokenJsonPath></RefreshTokenJsonPath> 
		  <RefreshTokenHeaders>
				<Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
			</RefreshTokenHeaders>
		  <Headers>
			<Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
		  </Headers>
</OAuth2ConnectionManager>
    <EndPoints />
</Configuration>