<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id from your LinkedIn app authentication settings" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret from your LinkedIn app authentication settings" Name="Client Secret" Required="True" />
      <Parameter Key="{Scopes}" Description="The Scopes you want to give this application access to" Name="Scopes" Required="True" Value="r_basicprofile" />
      <Parameter Key="{State}" Description="A unique string value of your choice that is hard to guess. (Just put any string without a space)" Name="State" Required="True" />
      </Parameters>
	   <AuthorizationRequestUrl>https://www.linkedin.com/oauth/v2/authorization?state={State}&amp;client_id={ApiKey}&amp;scope={Scopes}&amp;response_type=code&amp;redirect_uri={RedirectUri}</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Get</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://www.linkedin.com/oauth/v2/accessToken</AccessTokenRequestUrl>
      <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken>expires_in</AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode>seconds</AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl></RefreshTokenRequestUrl>
      <RefreshTokenRequestBody></RefreshTokenRequestBody>
      <RefreshTokenJsonPath></RefreshTokenJsonPath>
	  <TestConnectionUrl>https://api.linkedin.com/v1/people/~</TestConnectionUrl>
	  <TestConnectionSuccessTokenPath>firstName</TestConnectionSuccessTokenPath>
      <RefreshTokenHeaders />
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
	  <ConnectionManagerHeaders>
        <Header Name="x-li-format" Value="json" />
      </ConnectionManagerHeaders>
  </OAuth2ConnectionManager>
  <EndPoints />
 </Configuration>
