<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Consumer Key" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Consumer Secret" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://login.salesforce.com/services/oauth2/authorize?response_type=code&amp;client_id={ApiKey}&amp;redirect_uri={RedirectUri}</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Get</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://login.salesforce.com/services/oauth2/token</AccessTokenRequestUrl>
      <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl>https://login.salesforce.com/services/oauth2/token</RefreshTokenRequestUrl>
      <RefreshTokenRequestBody>grant_type=refresh_token&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;refresh_token={RefreshToken}</RefreshTokenRequestBody>
      <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
	  <RefreshTokenHeaders>
	  <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>						
  </OAuth2ConnectionManager>
  <EndPoints>
    <EndPoint Url="https://{InstanceUrl}.salesforce.com/services/data/v37.0/sobjects/" ReturnType="Json" HttpMethod="Get" RootJsonPath="sobjects" Name="Get All Objects" ApiUrl="https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody />
      <Parameters>
        <Parameter Name="Salesforce Instance" Key="{InstanceUrl}" Description="The instance from your salesforce account." />
      </Parameters>
      <Headers />
      <AuthenticationResults />
      <OutputColumns>
        <OutputColumn Name="Name" TokenPath="name" DataType="130" Length="255" />
        <OutputColumn Name="Label" TokenPath="label" DataType="130" Length="255" />
      </OutputColumns>
    </EndPoint>
	<EndPoint Url="https://{InstanceUrl}.salesforce.com/services/data/v20.0/query/?q={Query}" ReturnType="Json" HttpMethod="Get" RootJsonPath="records" Name="Execute SOQL Query" ApiUrl="https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody />
      <Parameters>
        <Parameter Name="Salesforce Instance" Key="{InstanceUrl}" Description="The instance from your salesforce account." />
        <Parameter Name="Query" Key="{Query}" Description="The SOQL query you want to execute against Salesforce" />
      </Parameters>
      <Headers />
      <AuthenticationResults />
      <OutputColumns>
        <OutputColumn Name="Name" TokenPath="Name" DataType="130" Length="255" />
        <OutputColumn Name="Id" TokenPath="Id" DataType="130" Length="255" />
        <OutputColumn Name="Url" TokenPath="attributes.url" DataType="130" Length="255" />
      </OutputColumns>
    </EndPoint>
  </EndPoints>
</Configuration>
