<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://api.surveymonkey.net/oauth/authorize?response_type=code&amp;client_id={ApiKey}&amp;redirect_uri={RedirectUri}</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://api.surveymonkey.net/oauth/token</AccessTokenRequestUrl>
      <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl></RefreshTokenRequestUrl>
      <RefreshTokenRequestBody></RefreshTokenRequestBody>
      <RefreshTokenJsonPath></RefreshTokenJsonPath>
      <RefreshTokenHeaders>
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
  <EndPoints>
  </EndPoints>
</Configuration>
