<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{RedirectUri}" Description="The Redirect Uri defined in your app settings." Name="Redirect Uri" Required="True" />
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="App Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="App Secret" Required="True" />
      <Parameter Key="{Scopes}" Description="The scopes to request access to" Name="Scopes" Required="True" />
     </Parameters>
      <AuthorizationRequestUrl>https://app.vssps.visualstudio.com/oauth2/authorize?client_id={ApiKey}&amp;response_type=Assertion&amp;state=UserApp&amp;scope={Scopes}&amp;redirect_uri={RedirectUri}</AuthorizationRequestUrl>
      <AuthorizationRequestMethod>Get</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://app.vssps.visualstudio.com/oauth2/token</AccessTokenRequestUrl>
      <AccessTokenRequestBody>client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&amp;client_assertion={ApiSecret}&amp;grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&amp;assertion={GrantCode}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken>expires_in</AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode>Seconds</AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl>https://app.vssps.visualstudio.com/oauth2/token</RefreshTokenRequestUrl>
      <RefreshTokenRequestBody>client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&amp;client_assertion={ApiSecret}&amp;grant_type=refresh_token&amp;assertion={RefreshToken}&amp;redirect_uri={RedirectUri}</RefreshTokenRequestBody>
      <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
      <RefreshTokenHeaders>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
	  <ConnectionManagerHeaders>
        <Header Name="Content-Type" Value="application/json" />
      </ConnectionManagerHeaders>
  </OAuth2ConnectionManager>
  <EndPoints>
    <EndPoint Url="https://analyticsreporting.googleapis.com/v4/reports:batchGet" ReturnType="Json" HttpMethod="Post" RootJsonPath="" Name="User Profile" ApiUrl="https://developers.facebook.com/docs/graph-api/reference/v2.2/user">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces>
        <Namespace Prefix="x" Uri="http://blah.com" />
      </XmlNamespaces>
      <PostBody>{userid}</PostBody>
      <Parameters>
        <Parameter Name="User ID" Key="{userid}" Description="The user id from your google analytics account" />
      </Parameters>
      <Headers>
        <Header Name="Name" Value="Value" />
      </Headers>
      <AuthenticationResults>
        <Result Name="Name" Value="Value" />
      </AuthenticationResults>
      <OutputColumns>
        <OutputColumn Name="FirstName" TokenPath="first_name" DataType="130" Length="255" />
        <OutputColumn Name="LastName" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="Link" TokenPath="link" DataType="130" Length="2000" />
        <OutputColumn Name="Timezone" TokenPath="last_name" DataType="130" Length="255" />
        <OutputColumn Name="ID" TokenPath="id" DataType="130" Length="20" />
      </OutputColumns>
    </EndPoint>

  </EndPoints>
</Configuration>