<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
	  <Parameter Key="{TenantId}" Description="The identifying parameter which indicates who can sign into the app; found in Azure web portal URL" Name="Tenant Id" Required="True" />
	  <Parameter Key="{Scope}" Description="The Windows Graph scopes (space seperated) you require access to. i.e. User.Read User.Read.All" Name="Scope" Required="True" />
	  <Parameter Key="{Resource}" Description="The url encoded Windows Graph resource (e.g. https%3A%2F%2Fgraph.microsoft.com%2F)" Name="Resource" Required="True" Value="https%3A%2F%2Fgraph.microsoft.com%2F" />
     </Parameters>
      <AuthorizationRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/authorize?client_id={ApiKey}&amp;response_type=code&amp;redirect_uri={RedirectUri}&amp;scope={Scope}</AuthorizationRequestUrl>
	  <AuthorizationRequestMethod>Get</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/token/</AccessTokenRequestUrl>	
	  <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl></RefreshTokenRequestUrl>    
	  <RefreshTokenRequestBody></RefreshTokenRequestBody>
	  <RefreshTokenJsonPath></RefreshTokenJsonPath>
      <RefreshTokenHeaders></RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </Headers>
  </OAuth2ConnectionManager>
  <EndPoints />
</Configuration>
