<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ApiKey}" Description="The client id of the key you're using from the developer console" Name="Client Id" Required="True" />
      <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
      <Parameter Key="{TenantId}" Description="The identifying parameter which indicates who can sign into the app; found in Azure web portal URL" Name="Tenant Id" Required="True" />
    </Parameters>
	 <Scopes>
      <Scope Name="Read All" Value="User.Read" />
      <Scope Name="Offline Access" Value="offline_access" />
    </Scopes>
    <AuthorizationRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/authorize</AuthorizationRequestUrl>
    <AuthorizationRequestMethod>Get</AuthorizationRequestMethod>
    <AuthorizationRequestBody></AuthorizationRequestBody>
    <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
    <AccessTokenRequestUrl>https://login.microsoftonline.com/{TenantId}/oauth2/v2.0/token/</AccessTokenRequestUrl>
    <AccessTokenRequestBody>grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ApiKey}&amp;client_secret={ApiSecret}&amp;redirect_uri={RedirectUri}</AccessTokenRequestBody>
    <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
    <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
    <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
    <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
    <IsBearerToken>true</IsBearerToken>
    <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
    <RefreshTokenRequestUrl>https://login.microsoftonline.com/common/oauth2/v2.0/token</RefreshTokenRequestUrl>
    <RefreshTokenRequestBody>client_id={ApiKey}&amp;refresh_token={RefreshToken}&amp;grant_type=refresh_token&amp;client_secret={ApiSecret}</RefreshTokenRequestBody>
    <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
    <RefreshTokenHeaders>
      <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
	</RefreshTokenHeaders>
    <Headers>
      <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
    </Headers>
  </OAuth2ConnectionManager>
  <EndPoints />
</Configuration>