<Configuration>
  <OAuth2ConnectionManager>
    <Parameters>
      <Parameter Key="{ClientID}" Description="The client id of the key you're using from the developer console" Name="Client Key" Required="True" />
	  <Parameter Key="{ApiKey}" Description="The API Key from the Developer Console" Name="API Key" Required="True" />
	  <Parameter Key="{ApiSecret}" Description="The client secret of the key you're using from the developer console" Name="Client Secret" Required="True" />
    </Parameters>
      <AuthorizationRequestUrl></AuthorizationRequestUrl>	
      <AuthorizationRequestMethod>Post</AuthorizationRequestMethod>
      <AuthorizationRequestBody></AuthorizationRequestBody>
      <GrantCodeQueryStringParameter>code</GrantCodeQueryStringParameter>
      <AccessTokenRequestUrl>https://api.yelp.com/oauth2/token?grant_type=authorization_code&amp;code={GrantCode}&amp;client_id={ClientID}&amp;client_secret={ApiSecret}</AccessTokenRequestUrl>
      <AccessTokenRequestBody></AccessTokenRequestBody>
      <AccessTokenRequestMethod>Post</AccessTokenRequestMethod>
      <AccessTokenJsonToken>access_token</AccessTokenJsonToken>
      <AccessTokenExpiresInJsonToken></AccessTokenExpiresInJsonToken>
      <AccessTokenExpiresInMode></AccessTokenExpiresInMode>
      <IsBearerToken>true</IsBearerToken>
      <RefreshTokenRequestMethod>Post</RefreshTokenRequestMethod>
      <RefreshTokenRequestUrl></RefreshTokenRequestUrl>
      <RefreshTokenRequestBody></RefreshTokenRequestBody>
      <RefreshTokenJsonPath>refresh_token</RefreshTokenJsonPath>
	  <RefreshTokenHeaders>
	  <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
      </RefreshTokenHeaders>
      <Headers>
        <Header Name="Content-Type" Value="application/x-www-form-urlencoded" />
		<Header Name="Authorization" Value="Bearer {ApiKey}" />
      </Headers>						
  </OAuth2ConnectionManager>
   <EndPoints>
    <EndPoint Url="https://api.yelp.com/v3/businesses/search?term={term}&amp;location={location}&amp;categories={categories}" ReturnType="Json" HttpMethod="Get" RootJsonPath="total[*]" Name="Search" ApiUrl="https://api.yelp.com">
      <Paging PagingToken="" IsFinishedPagingValue="" PagingQueryStringValue="" IsPagingTokenUrl="True" />
      <XmlNamespaces />
      <PostBody />
      <Parameters>
        <Parameter Name="term" Key="{term}" Description="The search term." />
		<Parameter Name="location" Key="{location}" Description="Specifies the combination of address, neighborhood, city, state or zip, optional country to be used when searching for businesses." />
		<Parameter Name="categories" Key="{categories}" Description="Categories to filter the search results with." />
		</Parameters>
		</EndPoint>
	</EndPoints>
  </Configuration>